a {
    text-decoration: none;
}

a:link {
    background-color: aquamarine;
}

a:visited {
    color: lightskyblue;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    color: firebrick;
}


/*  
!!! focus nadpisuje pseudoklasę aktywną !!!
a:active {
color: fuchsia;
}
*/

p:lang(pl){
    font-style: italic;
    color:darkcyan;
}

div.klient:nth-child(even) {
    background-color: beige;
}

div.klient:nth-child(odd) {
    background-color: lightpink;
}